html
    box-sizing: border-box

    *, *:before, *:after
        box-sizing: inherit

.main-wrap
    margin: 0 auto
    padding: 0
    background: $gray
    font-family: 'Roboto', sans-serif
    max-width: 1200px
    width: 100%
    overflow: scroll

// div
//     border: 1px solid black
