html
    box-sizing: border-box

    *, *:before, *:after
        box-sizing: inherit

.main-wrap
    margin: 0
    padding: 0
    background: $gray
    font-family: 'Roboto', sans-serif
    min-width: 1200px
